<div style="width: 100vw; background: black; height: 100vh; padding-top: 5%">
    <div class="login-page" style="margin-top: 5vh;">
        <div class="login-box" style="margin-left: 10px; margin-right: 10px;">
            <div class="logo">
                <a href="javascript:void(0);">The List of Shame</a>
            </div>
            <div class="card">
                <!-- Email Entry Stage -->
                <div class="body" style="margin-top: 5vh" *ngIf="currentStage =='emailStage'">
                    <form [formGroup]="emailForm" id="sign_in" (ngSubmit)="vaidateEmail()">
                        <div class="msg">Enter your email address to reset your password.</div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">mail</i>
                            </span>
                            <div class="form-line"
                                [ngClass]="{'focused error': ef.emailAddress.errors?.required && submitted}">
                                <input type="email" class="form-control" name="email" placeholder="Email Address"
                                    required autofocus formControlName="emailAddress">
                            </div>
                            <label id="email-error" class="error" for="email"
                                *ngIf="ef.emailAddress.errors?.required && submitted">Please enter an email
                                address.</label>
                            <label id="email-error" class="error" for="email"
                                *ngIf="ef.emailAddress.errors?.email && submitted">Enter a valid email address.</label>
                        </div>

                        <div class="alert alert-success" *ngIf="successMessage && !emailProcessing">
                            <strong>Success!</strong> {{successMessage}}
                        </div>

                        <div class="alert alert-danger" *ngIf="errorMessage && !emailProcessing">
                            <strong>Oh snap!</strong> {{errorMessage}}
                        </div>

                        <div style="display: flex; justify-content: center;" *ngIf="emailProcessing">
                            <div class="preloader pl-size-xs">
                                <div class="spinner-layer pl-purple">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">

                            <button type="submit" class="btn bg-purple btn-lg waves-effect">
                                &nbsp; SEND &nbsp;
                            </button>

                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-default btn-lg waves-effect"
                                routerLink="/auth/login">CANCEL</button>

                        </div>

                    </form>
                </div>

                <!-- Code Verification Stage -->
                <div class="body" style="margin-top: 5vh" *ngIf="currentStage =='codeVerification'">
                    <form [formGroup]="codeForm" id="sign_in" (ngSubmit)="verifyCode()">
                        <div class="msg">A verification code has been sent to your email address. Kindly enter it below
                            to verify your account.</div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">linear_scale</i>
                            </span>
                            <div class="form-line"
                                [ngClass]="{'focused error': cf.verificationCode.errors?.required && submitted}">
                                <input type="number" class="form-control" name="code" placeholder="Verification Code"
                                    required autofocus formControlName="verificationCode">
                            </div>
                            <label id="code-error" class="error" for="code"
                                *ngIf="cf.verificationCode.errors?.required && submitted">Please enter the verification
                                code.</label>
                        </div>

                        <div class="alert alert-success" *ngIf="successMessage && !codeProcessing">
                            <strong>Success!</strong> {{successMessage}}
                        </div>

                        <div class="alert alert-danger" *ngIf="errorMessage && !codeProcessing">
                            <strong>Oh snap!</strong> {{errorMessage}}
                        </div>

                        <div style="display: flex; justify-content: center;" *ngIf="codeProcessing">
                            <div class="preloader pl-size-xs">
                                <div class="spinner-layer pl-purple">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">

                            <button type="submit" class="btn bg-purple btn-lg waves-effect">
                                &nbsp; VERIFY CODE &nbsp;
                            </button>

                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-default btn-lg waves-effect"
                                routerLink="/auth/login">CANCEL</button>

                        </div>

                        <div class="msg" style="margin-top: 20px;">Didn't get the code? 
                            <a href="javascript:void(0);" (click)="resendCode()">RESEND</a>
                        </div>

                    </form>
                </div>

                <!-- Set new password stage -->
                <div class="body" style="margin-top: 5vh" *ngIf="currentStage =='passwordStage'">
                    <form [formGroup]="passwordForm" id="sign_in" (ngSubmit)="setPassword()">
                        <div class="msg">Set your new password below.</div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line"
                                [ngClass]="{'focused error': pf.newPassword.errors?.required && submitted}">
                                <input type="password" class="form-control" name="newPassword"
                                    placeholder="New Password" required autofocus formControlName="newPassword">
                            </div>
                            <label id="newPassword-error" class="error" for="newPassword"
                                *ngIf="pf.newPassword.errors?.required && submitted">Please enter your new
                                password.</label>
                            <label id="newPassword-error" class="error" for="newPassword"
                                *ngIf="pf.newPassword.errors?.minlength && submitted">Password must be at least 8
                                characters
                                long.</label>
                            <label id="newPassword-error" class="error" for="newPassword"
                                *ngIf="pf.newPassword.errors?.noDigit && submitted">Password must contain a
                                digit.</label>
                            <label id="newPassword-error" class="error" for="newPassword"
                                *ngIf="pf.newPassword.errors?.noLetter && submitted">Password must contain a
                                letter.</label>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line"
                                [ngClass]="{'focused error': pf.passwordConfirmation.errors?.required && submitted}">
                                <input type="password" class="form-control" name="passwordConfirmation"
                                    placeholder="Confirm Password" required autofocus
                                    formControlName="passwordConfirmation" (ngModelChange)="comparePasswords()">
                            </div>
                            <label id="passwordConfirmation-error" class="error" for="passwordConfirmation"
                                *ngIf="pf.passwordConfirmation.errors?.required && submitted">
                                Please confirm your new password.
                            </label>
                            <label id="passwordConfirmation-error" class="error" for="passwordConfirmation"
                                *ngIf="pf.passwordConfirmation.errors?.minlength && submitted">
                                Password must be at least 8 characters long.
                            </label>
                            <label id="passwordConfirmation-error" class="error" for="passwordConfirmation"
                                *ngIf="pf.passwordConfirmation.errors?.noDigit && submitted">
                                Password must contain a digit.
                            </label>
                            <label id="passwordConfirmation-error" class="error" for="passwordConfirmation"
                                *ngIf="pf.passwordConfirmation.errors?.noLetter && submitted">
                                Password must contain a letter.
                            </label>
                            <label id="passwordConfirmation-error" class="error" for="passwordConfirmation"
                                *ngIf="!passwordsMatch && (pf.passwordConfirmation.touched || pf.passwordConfirmation.dirty)">
                                Passwords do not match.
                            </label>
                        </div>

                        <div class="alert alert-success" *ngIf="successMessage && !passwordProcessing">
                            <strong>Success!</strong> {{successMessage}}
                        </div>

                        <div class="alert alert-danger" *ngIf="errorMessage && !passwordProcessing">
                            <strong>Oh snap!</strong> {{errorMessage}}
                        </div>

                        <div style="display: flex; justify-content: center;" *ngIf="passwordProcessing">
                            <div class="preloader pl-size-xs">
                                <div class="spinner-layer pl-purple">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">

                            <button type="submit" class="btn bg-purple btn-lg waves-effect">
                                &nbsp; SET PASSWORD &nbsp;
                            </button>

                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-default btn-lg waves-effect"
                                routerLink="/auth/login">CANCEL</button>

                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>